/*General styling*/







.button {
  border: none;
  padding: 14px;
  color: #fff;
  margin: 0 10px;
  background: #3D3240;
  font-weight: 700;
  border-radius: 4px;
}
.active {
  background: #FF735C;
}
.disabled {
  background: #eee;
  color: #aaa;
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: khaki;
}

.container{
  //background: url("../images/background_beans.jpg")repeat center center  ;
}

a {
  color: #00B7FF;
}

#mainMessage{
  font-family: Cambria;
  color: #703810;
}

#homeImg{
  display: block;
  margin-left: auto;
  margin-right: auto
}

.navbar-custom {
  color: #FFFFFF;
  background-color:#703810;
}

.jumbotron{
  background: url("../images/background_beans.jpg")no-repeat center center;
  color: black;
//text-shadow: gray 0.1em 0.1em 0.1em;
// background: transparent;
}

#mainJumbo{
 background: url("../images/background_beans.jpg")no-repeat center center;
  //background-image: image("../images/coffee-cup.gif") ;
}

.panel{

  background: url("../images/coffee_main.png")no-repeat center center  ;
  background-color: #FFFFFF;

}

/*Star rating style*/
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size:50px;
}
.rating .filled {
  color: gold;
}
.clear{
  margin-top:20px;
}





/*!*For Presentation Only*!
body {
  padding: 3rem 1rem 0;
  font-family: 'Lato', sans-serif;
  background: #444;
}

.presentation {
  text-align: center;
}
.btn-icon {
  font-size: 5em;
  margin: 0 0.5em;
}*/


/*Favourite button*/
.btn-icon {
  font-size: 5em;
  margin: 0 0.5em;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;}
.btn-icon.active, .btn-icon.focus {
.box-shadow(none);
  border-color: transparent;
}
.btn-icon.active {
  background: transparent;
.scale(0.9);
}
.btn-icon.focus {
  outline: 0 none !important;
}
.glyphicon {
.transition(color 0.1s ease);
}
.glyphicon-heart {
  color: #666;
}

.glyphicon-heart.active {
  color: #FE4365;
  background: transparent;}
.glyphicon-heart:hover {
  color: #FE4365;, 15%);
}
#favlist{
  color: #FE4365;
  font-size: 2em;
}


/*Panel box shadow*/
.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

/*Google button styling & image*/
.g-signin2{
  margin-top: 5px;
}

#profileImg {
  border-radius: 50%;
  margin-top: 5px;
  //width: 40px;
  height: 40px;
  border-color: transparent;
}
#logout{
  margin-top: 5px;
  }


/*Map styling*/
#coffeeMap {
  height:440px;
  width:100%;
  border: solid;
  border-color: #703810;
}

#map {
  height:440px;
  width:100%;
  border: solid;
  border-color: #703810;
}
.infoWindowContent {
  font-size:  14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
h2 {
  margin-bottom:0;
  margin-top: 0;
}

#mapbtn{
  font-family: FontAwesome;
}
.infoWindowContent{
  //background-color: #00B7FF;
}
/*//////////////*/


/*Table style*/
#coffeesTable{
  background-color: #FFFFFF;
 // border: solid black 1px;
  cursor: pointer;
}






