<div class="jumbotron text-center">
    <h1 id = "mainMessage">ADD A COFFEE</h1>

    <div ng-controller="addcoffeeController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default box-shadow--6dp">
                    <div class="panel-body">

                <form ng-submit="addCoffee()"
                      style="margin-top:30px;">
                    <h3>Enter your new coffee details and location</h3><br>
                    <openmap   ng-click="showMap = !showMap"></openmap><br>
                    <br><div class="form-group" align="center">
                        <!--<label for="name"></label>-->
                          <input type = "text" ng-model="coffeename" class="form-control"  ng-style="{'width': 300 + 'px'}" placeholder="Coffee Name" required>
                        </input>
                    </div>
                    <div class="form-group" align="center">
                       <!-- <label for="shop">Coffee Shop</label>-->
                        <input type = "text" ng-model="coffeeshop" class="form-control"  ng-style="{'width': 300 + 'px'}" placeholder="Coffee Shop" required>
                        </select>
                    </div>
                    <div class="form-group" align="center">
                     € Price   <input type="number" min="0"max="15" step="any"
                               class="form-control"
                               placeholder=" € Price"
                               ng-model="price"
                               ng-style="{'width': 100 + 'px'}" required></input>
                    </div>
                    <div  ng-show="showMap" id="coffeeMap"></div>  <!--style="width:100%; height:440px;"-->
                   <!-- <openmap   ng-click="showMap = !showMap"></openmap>-->
                    <!--<input type="button"  openClose value="button" class="btn btn-primary" ng-click="showMap = !showMap"></input>-->

                    <br><button type="submit" class="btn btn-primary">Add Coffee</button>
                </form>

                       </div>
                </div>

            </div>
        </div>
    </div>
</div>